#JustWeb {
  z-index: 1;
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 1px solid grey;
  min-width: 100%;
  max-height: 100px;
  background-color: #b4eaff;
}

#JustWeb h1 {
  color: black;
  padding-right: 55%;
  margin-left: 2%;
}

#JustWeb a {
  font-size: 20px;
  padding-left: 2%;
  padding-right: 2%;
}

header{
  height: 60px;
}

body{
  background-color:#e8f9ff;
}

#wrap{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#bigbox{
  min-width: 50%;
  min-height: 685px;
  border-right: 1px solid grey;
}

#bigboxx{
  min-width: 49.9%;
  min-height: 685px;
}

.firstsmallbox{
  min-width:100%;
  min-height: 10%;
  border-bottom: solid grey 1px;
  margin-top: 4%;
}

.secondsmallbox{
  min-width:100%;
  min-height: 13.65%;
  border-bottom: solid grey 1px;
  text-align: center;
}

.secondsmallbox h1{
  padding-top: 6%;
  margin-top: 0%;
}

.smallbox{
  min-width:100%;
  min-height: 10%;
  border-bottom: solid grey 1px;
}

.kindabigbox{
  min-height: 87%;
  background-color: white;
}
